

header {
    display: flex;
}

header img {
    width: 200px;
    border-radius: 50%;
}

.sbutton {
    weidth: 40px;
    position: absolute;
    top: 20px;
}

div#container {

}

div#container div#menu {}

div#container div#conteudo {}